<div class="col-md-offset-1 col-md-4">
    <div class="well well-lg item-details">
        <div class="col-md-12">
            <form name="addItemForm" novalidate>
                <fieldset>
                    <legend class="text-center">Add</legend>
                    <div class="form-group" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
                        @*<input type="hidden" ng-model="Id" value={{Id}} />*@
                        <ul class="my-ul">
                            <li class="details-li">
                                <label for="Name">Name</label>

                                <input name="Name" class="form-control" data-ng-model="add.Name" type="text" ng-maxlength="25" required />
                                <span class="text-danger" ng-show="addItemForm.Name.$invalid">A name is required.</span>
                                <span class="text-danger" ng-show="addItemForm.Name.$error.maxlength">The name can be max 25 characters.</span>
                            </li>
                            <li class="details-li">
                                <label for="Description">Weapon description</label>

                                <input name="Description" class="form-control" data-ng-model="add.Description" type="text" ng-maxlength="40"/>
                                <span class="text-danger" ng-show="addItemForm.Description.$error.maxlength">The description can be max 40 characters.</span>
                            </li>
                            <li class="details-li">
                                <label for="WeaponType">Weapon Type</label>
                                <fieldset>
                                    <select name="WeaponType" class="form-control" data-ng-model="add.WeaponType" required>
                                        <option ng-repeat="types in enums.TypeEnums" value={{types.name}}>{{types.name}}</option>
                                    </select>
                                </fieldset>
                                <span class="text-danger" ng-show="addItemForm.WeaponType.$invalid">Select weapon type.</span>
                            </li>
                            <li class="details-li">
                                <label for="Damage">Weapon Damage</label>
                                <fieldset>
                                    <select name="Damage" class="form-control" data-ng-model="add.Damage" required>
                                        <option ng-repeat="d in enums.DamageEnums" value={{d.name}}>{{d.name}}</option>
                                    </select>
                                </fieldset>
                                <span class="text-danger" ng-show="addItemForm.Damage.$invalid">Select damage.</span>
                            </li>
                            <li class="details-li">
                                <label for="ExtraDamage">Extra Damage</label>
                                <fieldset>
                                    <select name="ExtraDamage" class="form-control" data-ng-model="add.ExtraDamage" required>
                                        <option ng-repeat="ed in enums.ExtraDamageEnums" value={{ed.name}}>{{ed.name}}</option>
                                    </select>
                                </fieldset>
                                <span class="text-danger" ng-show="addItemForm.ExtraDamage.$invalid">Select extra damage.</span>
                            </li>
                            <li class="details-li">
                                <label for="Rarity">Rarity</label>
                                <fieldset>
                                    <select name="Rarity" class="form-control" data-ng-model="add.Rarity" required>
                                        <option ng-repeat="r in enums.RarityEnums" value={{r.name}}>{{r.name}}</option>
                                    </select>
                                </fieldset>
                                <span class="text-danger" ng-show="addItemForm.Rarity.$invalid">Select weapon rarity.</span>
                            </li>
                            <li class="details-li">
                                <label for="Value">Value</label>

                                <input name="Value" class="form-control" data-ng-model="add.Value" type="number" required/>
                                <span class="text-danger" ng-show="addItemForm.Value.$invalid">Set value to a number.</span>
                            </li>
                            <li class="details-li">
                                <label for="attachment" class="col-md-2 control-label">Attachment</label>
                                <div class="">
                                    <input type="file" name="attachment"
                                           class="form-control" data-ak-file-model="add.Photo" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="change-buttons col-md-12">

            <button ng-click="addWeapon(add)" type="button" name="submit" class="btn btn-success btn-block"
                    ng-disabled="(addItemForm.Name.$invalid) || (addItemForm.WeaponType.$invalid)">
                Add
            </button>

            <button ng-click="addShow=false" type="button" name="cancel" class="btn btn-warning btn-block">Cancel</button>
        </div>
    </div>
</div>
