
<div class="col-md-offset-1 col-md-5">
    <div class="well well-lg item-details">
        <fieldset>
            <legend class="text-center">Weapon info</legend>
            <div class="details-list col-md-8">
                <ul class="my-ul">
                    <li class="details-li"><img ng-src="/{{imagelink}}"/></li>
                    <li class="details-li"><span class="glyphicon glyphicon-user padding-right"></span>{{weapon.Name}}</li>
                    <li class="details-li"><span class="glyphicon glyphicon-heart-empty padding-right"></span>{{weapon.WeaponType}}</li>
                    <li class="details-li"><span class="glyphicon glyphicon-calendar padding-right"></span>{{weapon.Description}}</li>
                    <li class="details-li"><span class="glyphicon glyphicon-home padding-right"></span>{{weapon.Damage}}</li>
                    <li class="details-li"><span class="glyphicon glyphicon-globe padding-right"></span>{{weapon.ExtraDamage}}</li>
                    <li class="details-li"><span class="glyphicon glyphicon-envelope padding-right"></span>{{weapon.Rarity}}</li>
                    <li class="details-li"><span class="glyphicon glyphicon-phone padding-right"></span>{{weapon.Value}}</li>
                </ul>
            </div>
            <div class="weapon-img col-md-4">

                <img />
            </div>
            <div ng-hide="weaponBtnHide" class="change-buttons col-md-12">
                <button ng-click="editShow=true; detailHide=true" type="button" name="edit" class="btn btn-success btn-block">Edit</button>
                <button ng-click="deleteWeapon()" type="button" name="edit" class="btn btn-danger btn-block">Delete</button>
            </div>
        </fieldset>
    </div>
    <div class="btn-group">
        <span class="button"><button ng-click="editShow=false;detailHide=true;addShow=true" type="button" name="add" class="btn btn-info">Add weapon</button></span>
        @Html.ActionLink("Manage images","DisplayImages", null,new {@class="button btn btn-default pull-right" })
    </div>
</div>


