@using Game_AVP2.Models.Avp2.Items
@{
    ViewBag.Title = "Display Images";
}
@model System.Collections.Generic.List<WeaponImage>
@using (Html.BeginForm())
{
    <table class="table table-striped table-bordered" >
        <thead class="">
            <tr>
                <th>Image</th>
                <th>Name of image</th>
                <th>Filename</th>
            </tr>
        </thead>
        <tbody>
            @foreach (WeaponImage item in Model)
            {
                <tr>
                    <td><img src="~/@item.ImageLink" width="100" height="100" /></td>
                    <td>@item.Name</td>
                    <td>@item.FileName</td>
                </tr>
            }
        </tbody>
    </table>
}
@Html.ActionLink("Add image","AdminFileUpload")

