
@{
    ViewBag.Title = "Index";
}

<h2>Administrator area</h2>

<div class="row">
    <a href="Admin/AdminItems">
        <input type="button" class="btn btn-default btn-block" value="Admin Items" />
    </a>
    @*<a href="Admin/DisplayImages">
        <input type="button" class="btn btn-default btn-block" value="Admin File Upload" />
    </a>*@

</div>

