@*@using Game_AVP2.ModelViews
    @model List<StaticCharacterViewModel>*@
<div class="col-md-12">
    <div class="col-md-6 characterbox" ng-repeat="c in characters" ng-click="changeDetail(c)">
        <div class="well well-lg wellOverflow hoverElem">
            <h4 class="text-capitalize">{{c.Name}} </h4>
            <div class="details-list">
                @*<span class=""><img class="img-responsive" ng-src="/{{c.EquippedWeaponLink}}" /></span>
                <span class=""><img class="img-responsive img-circle" ng-src="/{{c.ImageLink}}" /></span>
<img class="img-responsive" ng-src="/{{c.EquippedArmourLink}}" />*@
            </div>
            <ul class="list-group transparent-ul">
                @*<li class="list-group-item col-md-12">
                    Equipment
                    <span class="pull-left"><img class="img-responsive center-block" ng-src="/{{c.EquippedWeaponLink}}" /></span>
                    <span class="pull-right"><img class="img-responsive center-block" ng-src="/{{c.EquippedArmourLink}}" /></span>
                </li>*@
                <li class="list-group-item">
                    <span class=""><img class="img-responsive float-left pull-left" title="{{c.EquippedWeaponName}}" ng-src="/{{c.EquippedWeaponLink}}" />
                    <img class="img-responsive img-circle float-left" ng-src="/{{c.ImageLink}}" />
                    <img class="img-responsive float-left pull-right" ng-src="/{{c.EquippedArmourLink}}" /></span>
                </li>
                <li class="list-group-item">
                    Description:
                    <span class="pull-xs-right">{{c.Description}}</span>
                </li>
                <li class="list-group-item col-md-12">
                    Strength:
                    <span class="label label-danger pull-right">{{c.Strength}}</span>                   
                </li>
                <li class="list-group-item col-md-12">
                    Health:
                    <span class="label label-info pull-right">{{c.Health}}</span>
                </li>
                <li class="list-group-item col-md-12">
                    Dexterity:
                    <span class="label label-success pull-right">{{c.Dexterity}}</span>
                </li>
            </ul>
        </div>
    </div>
</div><!--/col-12-->
