<div class="col-md-6">
            <div class="details-list">
                <dl class="dl-horizontal">

                    <dt>Strength:</dt>
                    <dd>{{detail.Strength}}</dd>

                    <dt>Health:</dt>
                    <dd>{{detail.Health}}</dd>

                    <dt>Dexterity:</dt>
                    <dd>{{detail.Dexterity}}</dd>

                    <dt>Luck:</dt>
                    <dd>{{detail.LuckModifier}}</dd>

                    <dt>StrengthMod:</dt>
                    <dd>{{detail.StrengthModifier}}</dd>

                    <dt>DefenceMod:</dt>
                    <dd>{{detail.DefenceModifier}}</dd>

                </dl>
                </div>
</div>
