<div class="col-md-6">
            <div class="details-list">
                <dl class="dl-horizontal">

                    <dt>Strength:</dt>
                    <dd><span class="label label-danger">{{detail.Attribute.Strength}}</span></dd>

                    <dt>Health:</dt>
                    <dd><span class="label label-info">{{detail.Attribute.Health}}</span></dd>

                    <dt>Dexterity:</dt>
                    <dd><span class="label label-success">{{detail.Attribute.Dexterity}}</span></dd>

                    <dt>Luck:</dt>
                    <dd><span class="label label-success">{{detail.Attribute.Luck}}</span></dd>

                    <dt>StrengthMod:</dt>
                    <dd><span class="label label-danger">{{detail.Attribute.StrengthModifier}}</span></dd>

                    <dt>DefenceMod:</dt>
                    <dd><span class="label label-info">{{detail.Attribute.DefenceModifier}}</span></dd>

                </dl>
                </div>
</div>
