<div class="">
    <div class="battle-round-info col-md-12 col-sm-12">
        <div id="battleCounter" class="pull-left">
            <h3 class="text-capitalize text-warning">Battle {{battleCount}}</h3> 
        </div>
        <div id="roundCounter" class="pull-right">
            <h3 class="text-capitalize text-warning">Round {{roundCount}}</h3>
        </div>
    </div>

    <div id="battle-player" class="col-md-6 col-sm-6">
        <div class="col-md-12 col-sm-12 col-xs-12 text-uppercase">
            <div class="battleimg col-md-4 col-sm-4 pull-left">
                <img class="img-responsive img-circle" ng-src="/{{character.ImageLink}}" />
            </div>
            <div class="col-md-4 col-sm-4">
                <h4 class="text-center"><i class="ra ra-player-king ra-fw"></i> {{character.Name}}</h4>
            </div>
            <div class="col-md-4 col-sm-4"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
                @*<label for="Progress">Health left</label>*@
                <div ng-class="{'progress-bar-danger':progressColor=='Red','progress-bar-warning':progressColor=='Yellow','progress-bar-success':progressColor=='Green'}" class="progress-bar active" role="progressbar" aria-valuenow="{{character.HealthLeft}}" aria-valuemin="0" aria-valuemax="{{character.Attribute.Health}}" style="width: {{((character.Attribute.HealthLeft/character.Attribute.Health) * 100)}}%">
                    <span class="sr-only">100% Complete (success)</span>
                </div>
            </div>
        </div>
        <div class="stats col-md-12 col-sm-12 col-xs-12">
            @*<p>{{monster.Description}}</p>*@
        </div>
        <div class="battle_small_stats col-md-6 col-sm-6 col-xs-12">
            <div class="stats col-md-12 col-sm-12 col-xs-12">
                <p><i class="ra ra-sword ra-fw"></i> {{character.EquippedWeaponName}}</p>

            </div>
        </div>
        <div class="battle_small_stats col-md-6 col-sm-6 col-xs-12">
            <div class="stats col-md-12 col-sm-12 col-xs-12">
                <p><i class="ra ra-broken-shield ra-fw"></i> {{character.EquippedArmourName}}</p>

            </div>

        </div>

    </div>

    @*<div id="battle-divider" class="col-md-1 col-sm-1"></div>*@

    <div id="battle-monster" class="col-md-6 col-sm-6">
        <div class="col-md-12 col-sm-12 col-xs-12 text-uppercase">
        <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4">
                <h4 class="text-center"><i class="ra ra-monster-skull ra-fw"></i> {{monster.Name}}</h4>
            </div>
                <div class="battleimg col-md-4 col-sm-4 pull-right">
                    <img class="img-responsive img-circle" ng-src="/{{monster.ImageLink}}" />
                </div>
            </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="progress">
                @*<label for="Progress">Health left</label>*@
                <div ng-class="{'progress-bar-danger':progressColor=='Red','progress-bar-warning':progressColor=='Yellow','progress-bar-success':progressColor=='Green'}" class="progress-bar active" role="progressbar" aria-valuenow="{{character.HealthLeft}}" aria-valuemin="0" aria-valuemax="{{character.Attribute.Health}}" style="width: {{((monsterHealth/monster.Attribute.Health) * 100)}}%">
                    <span class="sr-only">100% Complete (success)</span>
                </div>
            </div>
        </div>
        <div class="stats col-md-12 col-sm-12 col-xs-12">
            <p>{{monster.Description}}</p>
        </div>
            <div class="battle_small_stats col-md-6 col-sm-6 col-xs-12">
                <div class="stats col-md-12 col-sm-12 col-xs-12">
                    <p><i class="ra ra-sword ra-fw"></i> {{monster.EquippedWeaponName}}</p>

                </div>
            </div>
            <div class="battle_small_stats col-md-6 col-sm-6 col-xs-12">
                <div class="stats col-md-12 col-sm-12 col-xs-12">
                 <p><i class="ra ra-broken-shield ra-fw"></i> {{monster.EquippedArmourName}}</p>

                </div>

            </div>

        </div>

    @Html.Partial("_DiceRollerPlayer")
    @Html.Partial("_DiceRollerMonster")


</div>
