<div class="">

    <div id="battle-player" class="col-md-6 col-sm-6">
        <p>test</p>

    </div>

    @*<div id="battle-divider" class="col-md-1 col-sm-1"></div>*@

    <div id="battle-monster" class="col-md-6 col-sm-6"></div>

    @Html.Partial("_DiceRollerPlayer")
    @Html.Partial("_DiceRollerMonster")


</div>
