<div class="col-md-12 col-sm-12 col-xs-12 text-uppercase">
    <div class="battleimg col-md-4 col-sm-4 pull-left">
        <img class="img-responsive img-circle" ng-src="/{{character.ImageLink}}" />
    </div>
    <div class="col-md-4 col-sm-4">
        <h4 class="text-center"><i class="ra ra-player-king ra-fw"></i> {{character.Name}}</h4>
    </div>
    <div class="col-md-4 col-sm-4"></div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="progress">
        @*<label for="Progress">Health left</label>*@
        <div ng-class="{'progress-bar-danger':playerProgressColor=='Red','progress-bar-warning':playerProgressColor=='Yellow','progress-bar-success':playerProgressColor=='Green'}" class="progress-bar active" role="progressbar" aria-valuenow="{{character.HealthLeft}}" aria-valuemin="0" aria-valuemax="{{character.Attribute.Health}}" style="width: {{((character.HealthLeft/character.Attribute.Health) * 100)}}%">
            <span class="sr-only">100% Complete (success)</span>
        </div>
    </div>
</div>
<div class="stats col-md-12 col-sm-12 col-xs-12">
    @*<p>{{character.Description}}</p>*@
</div>
<div class="battle_small_stats col-md-6 col-sm-6 col-xs-12">
    <div class="stats col-md-12 col-sm-12 col-xs-12">
        <p><i class="ra ra-sword ra-fw"></i> {{character.EquippedWeaponName}}</p>

    </div>
</div>
<div class="battle_small_stats col-md-6 col-sm-6 col-xs-12">
    <div class="stats col-md-12 col-sm-12 col-xs-12">
        <p><i class="ra ra-broken-shield ra-fw"></i> {{character.EquippedArmourName}}</p>

    </div>

</div>
