<div id="dices-wrapper" class="col-md-12 col-sm-12">

    <p id="__results" ng-bind-html="diceResult"></p>
    @*<input id="__results" type="hidden" value="{{diceResult}}" ng-model="diceResult"/>{{diceResult}}*@
    <input type="button" ng-click="test()" name="test" />
    <script src="~/Scripts/diceJs/d6.js"></script>
    <script type="text/javascript">D6.setBaseUrl("/images/dice/");</script>
    <script src="~/Scripts/diceJs/daro.js"></script>



    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
        @*<a rel="license"*@
        @*href="http://creativecommons.org/publicdomain/zero/1.0/">*@
        @*<img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />*@
        @*</a>*@
        @*<br />*@
        @*To the extent possible under law,*@
        @*<a rel="dct:publisher"
               href="http://eposic.org">
                <span property="dct:title">Michael K. Eidson</span>
            </a>
            has waived all copyright and related or neighboring rights to*@
        @*<span property="dct:title"></span>.*@
        @*This work is published from:*@
        @*<span property="vcard:Country" datatype="dct:ISO3166"
                  content="US" about="http://eposic.org">
                United States
            </span>.*@
    </p>
</div>
