<div class="textStory col-md-12 col-sm-12">

    <marquee class="text-center" behavior="slide" direction="up" loop="1" scrollamount="2"><p class="" ng-bind-html="currentStory.Text">@*{{currentStory.Text}}*@</p></marquee>
</div>

<div>
    <input type="button" value="Continue" class="btn btn-success center-block" ng-click="textContinue()"/>
</div>
