body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.item-details, .detail-header, .wellOverflow {
    margin-top:2px;
    text-align: center;
}
.item-details, .wellOverflow {
    /*float:none;*/
    /*height: 100px;*/
    /*overflow-y: scroll;*/
    padding:5px;
    overflow:hidden;
}
.details-list {
    list-style-type: none;
    text-align: left;
}
.details-li {
    margin-bottom: 5px;
}
.change-buttons {
    margin-top:10px;
    margin-bottom:20px;
}
.button {   
}
.my-ul {
     list-style-type: none;
     padding-left: 5px;
}
.my-ul li span.padding-right {
    padding-right:1em;
}
th {
    border:1px solid black;
    padding: 5px;
    text-align:left;
    cursor:pointer;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;
}
.list-group-item-heading {
    margin-bottom:0;
}
.mylist-group {
    /*margin-bottom:0;*/
}
table.myTable tr:hover td{
    cursor:pointer;
    /*background-color:#b7f0f6*/
}
table.myTable thead tr .text-white{
    color:#ffffff;
}
.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height 
  height: 150px;
  clear:both;
  padding-top:20px;*/
}

input.ng-invalid {
    background-color: #ffd4d4;
}
select.ng-invalid {
    background-color: #ffd4d4;
}
select.ng-invalid option {
    background-color: #ffffff;
}
.tab-content {
    margin-top: 25px;
}
/**  Character create/*/
.transparent-ul li {
    background-color: transparent;
    display:inline-block;
}
.hoverElem:hover {
    background-color: #cde8eb;
    cursor:pointer;
}
.float-left {
    float:left;
}